<section class="experience-section" id="experience">
    <h2 class="section-title" data-aos="fade-up" data-aos-duration="1200" data-aos-easing="ease-in-out">
        Experience
    </h2>

    <div class="experience-list">
        <ng-container *ngFor="let exp of experiences; let i = index">
            <div data-aos="fade-up" [attr.data-aos-delay]="i * 300" data-aos-duration="1200"
                data-aos-easing="ease-in-out">
                <app-experience-card [experience]="exp"></app-experience-card>
            </div>
        </ng-container>
    </div>
</section>