<nav class="navbar">
    <div class="container">
        <a routerLink="/home" class="logo">Jibran.dev</a>

        <div class="menu-toggle" (click)="toggleMenu()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

        <ul [class.open]="isMenuOpen" (click)="closeMenu()">
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About</a></li>
            <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
            <li><a routerLink="/experience" routerLinkActive="active">Experience</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        </ul>
    </div>
</nav>