<section class="contact-section" id="contact">
    <h2 class="section-title" data-aos="fade-up">Contact Me</h2>

    <form class="contact-form" action="https://formspree.io/f/xkgbegoy" method="POST" target="_self" data-aos="fade-up"
        data-aos-delay="300">
        <input type="text" name="name" placeholder="Your Name" required />
        <input type="email" name="email" placeholder="Your Email" required />
        <textarea name="message" rows="5" placeholder="Your Message" required></textarea>
        <button type="submit" class="btn">Send Message</button>
    </form>
</section>