/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
.contact-section {
  padding: 4rem 1rem;
  text-align: center;

  .section-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
}
=======
>>>>>>> 2ef88f065ed590af64af0c318d4992228e1a0084
