/* You can add global styles to this file, and also import other style files */
.contact-section {
  padding: 4rem 1rem;
  text-align: center;

  .section-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
}
